:root{
     --color-white: #fff;
     --color-red: #e63636
     --color-dark1: #181818;
     --color-dark2: #1e1e1e;
     --color-purple1: #9333ff;
     --color-purple2: indigo;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: royalblue;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.conteudo{
    background-color: var(--color-dark1);
    padding: 2rem;
    border-radius: 10px;
    min-width:30%;
    overflow: auto;
}

h1{
    margin-bottom: 1rem;
    text-align: center;
    color: red;
    text-shadow: var(--color-white) 5px 5px 5px;
}

h2{
    color: red;
    text-shadow: #fff 5px 5px 5px;
}

.conteudo form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.span-required{
    display: none;
}

.inputs{
    padding: 8px 5px;
    outline: none;
    border-radius: 5px;
    background-color: var(--color-dark2);
    border: 2px solid white;
    color: var(--color-white);
    width: 100%;
    box-sizing: border-box;
    transition: .3s;
}

.inputs:focus{
    border-color: deepskyblue;
}

.box-select{
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    gap: 1rem;
}

button[type="submit"] {
    padding: 1rem;
    outline: none;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
    transition:  .3s;
}

button[type="submit"]:hover{
    background-color: aqua;
}


@media screen and (max-width:576px) {
    .box-select{
        flex-direction: column;
        gap: 5px;
    }
}